@layer components {
  html {
    font-size: 90%;
  }

  .body {
    font-family: 'Cerebri Sans', sans-serif;
  }

  .grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .fit-bleed {
    @apply px-8 py-40 md:p-70 md:py-12;
  }

  .scrollable {
    @apply scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent;
  }

  .w-inherit {
    width: inherit;
  }

  .text {
    &-header {
      @apply text-[50px] leading-[45px] font-display text-primary-main;
    }
    &-title {
      @apply text-[30px] leading-[38px] font-display font-[900];
    }

    &-body {
      @apply text-[20px] leading-[25px] font-display font-bold;
    }

    &-list {
      @apply text-[18px] leading-[22px] font-display font-extrabold;
    }

    &-content {
      @apply text-sm font-display;
    }

    &-caption {
      @apply text-base font-display font-normal;
    }
  }

  .btn {
    @apply font-bold rounded-[33px] min-w-[183px] p-4  transition-all;

    &.btn-orange {
      @apply bg-primary-main text-white hover:bg-primary-light;
    }

    &.btn-white {
      @apply bg-white  text-primary-main border-[2px] border-primary-main hover:bg-primary-main hover:text-white;

      &.white {
        @apply border-white;
      }
    }

    &.btn-outline {
      @apply bg-transparent text-white border-[2px] border-white
       hover:bg-primary-main hover:border-primary-main hover:text-white;
    }
  }

  a.booking-btn {
    @apply rounded-[33px] min-w-[183px] p-4
          bg-white text-primary-main hover:text-white
            border border-primary-main hover:bg-primary-main 
            transition-all flex items-center justify-center;
  }

  button.booking-btn {
    @apply rounded-[33px] min-w-[183px] p-4
          bg-white text-primary-main hover:text-white
            border border-primary-main hover:bg-primary-main 
            transition-all flex items-center justify-center;
  }
}
