@font-face {
    font-family: "Cosmica";
    src:local("Cosmica"), url("./Cosmica-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

 @font-face {
    font-family: "Cosmica Semi-bold";
    src:local("Cosmica"), url("./Cosmica-Semibold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cosmica Bold";
    src:local("Cosmica"), url("./Cosmica-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
} 

@font-face {
    font-family: "Cosmica Extra-bold";
    src:local("Cosmica"), url("./Cosmica-Extrabold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
} 

