@font-face {
  font-family: 'Cerebri Sans';
  src: local('Cerebri Sans'), url('./CerebriSansBook.ttf'),
    url('./Cerebri\ Sans\ Bold.ttf'), url('./Cerebri\ Sans\ ExtraBold.ttf'),
    url('./Cerebri\ Sans\ SemiBold.ttf'), url('./CerebriSans-Light.ttf'),
    url('./CerebriSans-Regular.ttf') format('truetype');
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}
