@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@import url("../assets/fonts/Cosmical/fonts.css");
@import "antd/dist/antd.css";
@import "./loader.scss";

// @import './carousel.scss';
// @import './abstract.scss';
// @import './nav.scss';
// @import './form.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Styles
@layer components {
  p {
    @apply font-body leading-6 mb-2.5;
  }
  .fit-x-bleed {
    @apply px-8 sm:px-16 tab:px-24;
  }

  .scrollable {
    @apply scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent;
  }

  .header-text {
    @apply text-primary-main font-body text-header;
  }

  // Button
  .btn {
    @apply font-normal font-body rounded-xl min-w-[133px] py-[15px] px-[30px] transition-all;

    &.btn-primary {
      @apply bg-primary-main text-green hover:bg-opacity-80;
    }

    &.btn-white {
      @apply bg-white  text-primary-main border-[2px] border-primary-main hover:bg-primary-main hover:text-white;

      &.white {
        @apply border-white;
      }
    }

    &.btn-outline {
      @apply bg-transparent text-white border-[2px] border-primary-main
       hover:bg-primary-main hover:border-primary-main hover:text-white;
    }
  }
  // Button

  // Form
  .form {
    @apply flex justify-between flex-wrap;

    .form-row-half {
      @apply flex flex-col basis-full md:basis-[48%];
    }

    .form-row-full {
      @apply flex flex-col basis-[100%];
    }
  }

  .form-group {
    border: 1px solid #d8d7e2;
    border-radius: 6px;
    padding: 8px 30px;

    label {
      @apply font-body text-[#979797] text-[12px] mb-[7px] font-normal;
    }

    input {
      @apply bg-transparent border-none outline-none text-black text-base font-normal  w-full focus:ring-0 focus:outline-none  placeholder-black;

      &.white-bg {
        @apply bg-white;
      }

      &.filter-input-form {
        @apply bg-transparent  rounded-none border-transparent border-b-[#e4e9f2] px-0 text-xl;
      }
    }
  }
  // Form

  .ga__footer {
    @apply bg-primary-main  py-20 flex flex-col;

    .line {
      border-bottom: 1px solid rgba(255, 255, 255, 0.13);
      @apply my-10 md:mx-10;
    }

    &__item {
      @apply basis-full md:basis-1/3 mb-16;

      &__box {
        @apply flex flex-col items-center md:items-start;

        a {
          @apply hover:text-green;
        }
      }
    }
  }

  .contact__cards {
    @apply py-[53px] grid gap-x-[36px] gap-y-[35px] sm:gap-y-[45px]  grid-cols-1 sm:grid-cols-contact__cards;

    .contact__card {
      @apply flex bg-grey-light rounded-xl p-5 sm:p-7;

      figure {
        @apply mr-[25px];
      }
    }
  }

  .offices__container {
    @apply flex flex-wrap tab:flex-nowrap py-[53px];
  }

  .newsletter {
    @apply flex flex-wrap md:flex-nowrap justify-between items-center  bg-grey-light px-8 sm:px-16 tab:px-28 py-8 md:py-16 rounded-xl;

    h2 {
      @apply text-[#26205E] font-body text-xl md:text-2xl mb-6 md:mb-0;
    }
  }

  .vertical--marquee {
    @apply flex flex-col;
    min-height: 63px;

    .text--holder {
      @apply relative h-6 w-[80vw];

      a {
        @apply absolute top-0 left-0 w-full h-auto font-body text-white;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);

        &.activeText {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=1);
        }
      }
    }
  }
}

.faqs__tabs {
  button.btn {
    color: #29255d;
    margin-right: 16px;
    border: 1px solid rgba(158, 155, 191, 0.27);

    @media (max-width: 800px) {
      margin-bottom: 12px;
    }

    &.active {
      color: white;
    }
  }
}

.faq__input {
  border: 1px solid #d8d7e2;
  border-radius: 6px;
  @apply w-full flex justify-between items-center px-9 py-5;

  input {
    @apply basis-[80%] bg-transparent border-[2px] border-none outline-none text-[#4B4F63] text-opacity-60 text-sm font-normal w-full focus:ring-0 focus:outline-none placeholder-[#4B4F63] placeholder-opacity-60;
  }
}

.ga__popup {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 100;
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleIn 0.3s ease-in-out;
    pointer-events: auto;
  }

  &.inactive {
    opacity: 0;
    pointer-events: none;
    animation: scaleOut 0.3s ease-in-out;
  }

  &__container {
    display: flex;
    position: relative;
    background-color: transparent;
    width: 825px;
    overflow-y: scroll;

    @media (max-width: 900px) {
      width: 90%;
    }

    span.close {
      border: none;
      outline: none;
      position: absolute;
      top: 20px;
      right: 0;
    }

    .ga__popup__main {
      background-color: transparent;
      margin: 1.5rem 0;
      margin-top: 3rem;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      //       @include respond(phone) {
      //         margin-top: 5rem;
      //       }

      //       &.active {
      //         animation: slideIn 0.3s ease-in-out;
      //         animation-delay: 0.3s;
      //       }

      //       &.inactive {
      //         display: none;
      //       }
    }
  }
}

.modal--close--icon {
  cursor: pointer;
}

.ga__desktop__filter {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  &__header {
    border-bottom: 1px solid rgba(192, 207, 214, 0.23);

    button.btn-text {
      color: rgba(17, 16, 32, 0.5);
      @apply hover:text-green;
    }
  }

  &__content {
  }
}

// Clean up Styles
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

@keyframes preloaderTextAnim {
  0% {
    transform: translateY(0%);
  }
  50%,
  100% {
    transform: translateY(-680%);
  }
}

@keyframes dropdownAnim {
  0% {
    bottom: 10000%;
    opacity: 0;
  }
  100% {
    bottom: -186px;
    opacity: 1;
  }
}
