@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('../assets/fonts/cerebri/fonts.css');
@import 'antd/dist/antd.css';
@import './carousel.scss';

@import './abstract.scss';
@import './nav.scss';
@import './form.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

// Tailwind Styles
@layer components {
  .scrollable {
    @apply scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent;
  }

  .mobile__nav__dropdown {
    ul {
      li {
        @apply text-caption font-display hidden pt-2;
      }
    }

    &:hover {
      svg {
        path {
          stroke: #ff6600;
        }
      }

      ul {
        li {
          display: block;
          opacity: 1;
          transform-origin: top center;

          @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
              animation: menu 200ms ease-in-out forwards;
              animation-delay: (100ms * $i) - 200;
            }
          }
        }
      }
    }
  }

  .vertical--marquee {
    @apply flex flex-col  overflow-y-scroll scrollable;

    .text--holder {
      @apply relative h-6 w-[80vw];

      a {
        @apply absolute top-0 left-0 w-full h-auto text-content font-display text-[#070808];
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);

        &.activeText {
          opacity: 1;
          -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
          filter: alpha(opacity=1);
        }
      }
    }
  }

  .post-markdown {
    @apply mb-4;
    p {
      @apply text-caption text-grey-seven mt-8 md:mt-0 mb-8;
    }
    ul {
      li {
        @apply text-caption text-grey-seven mt-8 md:mt-0 mb-8;
      }
    }
  }

  .post-content {
    p {
      @apply text-caption text-[#0D0D0D] mb-4;
    }
  }

  .newsletter--form {
    @apply flex flex-wrap md:flex-nowrap items-center md:bg-white md:border border-[#C3C3C393] mt-6 md:mt-12 md:w-3/4 lg:w-1/2 rounded-[33px] p-2 md:pl-8;

    .form-group {
      @apply basis-full md:basis-auto mb-4 md:mb-0
             flex items-center flex-auto bg-white 
             rounded-[23px] md:rounded-none border md:border-none border-[#C3C3C393];

      label {
        transform: translateY(35%);
        @apply ml-8 md:ml-0;
      }

      input {
        @apply bg-transparent
               border-none outline-none 
               text-black text-opacity-70  text-base font-normal 
               w-full p-4 md:mx-8 
               md:rounded-[4px] 
               focus:ring-0 block focus:border-none placeholder-black placeholder-opacity-70;
      }
    }

    .btn-orange {
      @apply w-full sm:w-auto;
    }
  }

  .partners {
    @apply flex flex-wrap md:flex-nowrap items-start px-8 py-16 md:p-70 bg-white relative rounded-xl;

    h2 {
      @apply basis-full md:basis-1/3 flex-shrink-0 my-5;
    }
    figure {
      @apply flex basis-auto justify-center items-center mb-8 h-16 w-auto mr-8;

      img {
        object-fit: contain;
        width: auto;
        height: 80%;
      }
    }
  }

  .advert {
    h4 {
      @apply text-white text-[21px] leading-[px] font-display mt-4 mb-8;
    }

    ul {
      li {
        @apply text-base mb-8;
        svg {
          @apply mr-4;
        }
      }
    }
    figure.advert__cta {
      @apply w-[170px] h-[51px];

      img {
        @apply w-full h-full;
      }
    }

    &__left {
      @apply basis-full md:basis-1/2 flex flex-col mb-16;
    }

    &__right {
      @apply basis-full md:basis-1/2 flex flex-wrap md:flex-nowrap justify-between pl-0 md:pl-8;

      figure {
        @apply basis-full md:basis-[45%] h-[476px] w-full;

        img {
          @apply w-full h-full;
        }
      }
    }
  }

  .updates {
    @apply flex flex-col md:flex-row justify-between;

    &__item {
      @apply basis-full sm:basis-[48%] mb-8 sm:mb-4;

      &.full {
        @apply basis-full;

        figure {
          @apply h-[80%];
        }

        h4 {
          @apply font-semibold text-xl;
        }
      }

      figure {
        @apply rounded-xl overflow-hidden w-full h-72 mb-8;

        img {
          @apply w-full h-full object-cover;
        }
      }
      h4 {
        @apply text-base text-black font-display font-semibold w-[80%];
      }
      span {
        @apply text-base font-display text-grey-gc;
      }
    }
  }

  .news__list {
    @apply grid  gap-16;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &__item {
      figure {
        @apply rounded-xl overflow-hidden w-full h-72 mb-8;

        img {
          @apply w-full h-full object-cover;
        }
      }
      h4 {
        @apply text-base text-black font-display font-extrabold;
      }
      span {
        @apply text-base font-display text-grey-gc;
      }

      button {
        @apply flex items-center mt-4;

        svg {
          @apply ml-4;
        }
      }
    }
  }

  .popular__locations {
    @apply w-full flex overflow-x-scroll transition-all scrollbar-none;

    .popular__item {
      @apply flex-shrink-0 basis-[280px] mr-16;

      // @media only screen and (max-width: 37.5rem) {
      //   flex-basis: 100%;
      // }

      figure {
        @apply h-auto h-cardImage rounded-xl overflow-hidden w-auto mb-8 relative;

        img {
          @apply w-full h-full object-cover;
        }

        .marker {
          @apply absolute left-0 bottom-0 flex items-center justify-center w-[63px] h-[63px] bg-primary-main;
          border-radius: 0px 12px;
        }
      }
      h6 {
        @apply text-base font-display text-grey-gc mb-4;
      }
      h4 {
        @apply text-base text-black font-display font-extrabold;
      }
    }
  }

  .popular__deals {
    @apply grid gap-16 grid-cols-1 sm:grid-cols-deals__item;

    .popular__item {
      figure {
        @apply h-cardImage rounded-xl overflow-hidden w-auto mb-8 relative;

        img {
          @apply w-full h-full object-cover;
        }

        .marker {
          @apply absolute left-0 bottom-0 flex items-center justify-center w-[63px] h-[63px] bg-primary-main;
          border-radius: 0px 12px;
        }
      }
      h6 {
        @apply text-base font-display text-grey-gc mb-4;
      }
      a,
      h4 {
        @apply text-base text-black  hover:text-primary-main  font-display font-extrabold w-[70%];
      }
    }
  }

  .services {
    @apply grid grid-cols-3 gap-16;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .services__item {
      figure {
        @apply h-[250px] rounded-xl overflow-hidden w-auto mb-8 relative;

        img {
          @apply w-full h-full object-cover;
        }

        .title {
          @apply absolute left-0 bottom-0 flex items-center justify-start w-[180px] h-[50px] bg-primary-main pl-8;
          border-radius: 0px 12px;
        }
      }

      ul {
        li {
          @apply flex items-center justify-between border-b border-grey-fa py-4;
          span {
            @apply text-caption;
          }
        }
      }
      h6 {
        @apply text-base font-display text-grey-gc mb-4;
      }
      h4 {
        @apply text-base text-black font-display font-extrabold;
      }
    }
  }

  .split-three {
    @apply grid grid-cols-3 gap-16;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .modalStyle {
    .ant-modal-content {
      @apply rounded-xl;
    }
  }

  .card {
    &__general {
      @apply w-full bg-grey-fb h-fit rounded-3xl  overflow-hidden;

      figure {
        @apply h-[250px] overflow-hidden;

        img {
          @apply w-full h-full object-cover;
        }
      }

      .card__content {
        @apply px-5 py-8 flex flex-col;

        .card-badge {
          @apply bg-primary-main w-max text-white flex justify-center items-center  transition-all rounded-[3px] text-xs py-2 px-4 mb-7;
        }

        h4 {
          @apply text-[20px] leading-[25px] font-display font-[900] text-[#171720] mb-4;
        }

        a,
        p {
          @apply text-[14px] leading-[22px] font-display text-[#707070] mb-3;
        }

        a {
          @apply font-semibold text-primary-main hover:text-primary-light mb-8 transition-all;
        }
      }
    }

    &__trainning {
      @apply w-full bg-white mb-4;

      figure {
        @apply h-[170px] rounded-3xl overflow-hidden mb-4;

        img {
          @apply w-full h-full object-cover object-left-top;
        }
      }

      h4 {
        @apply text-[16px] leading-[29px] font-display font-bold text-[#171720] mb-4;
      }

      p {
        @apply text-[16px] leading-[27px] font-display text-grey-seven mb-4;
      }

      button {
        @apply max-w-min;
      }
    }

    &__career {
      @apply w-full bg-white flex flex-col mb-8 rounded-xl border border-[#E8E7E8] py-6 px-7 font-display;

      h2 {
        @apply text-[24px] leading-[34px] text-black font-bold  mb-3;
      }
      p {
        @apply text-sm font-normal font-display;

        &.time {
          @apply text-[#B3B1B7] mb-3;
        }

        &.location {
          @apply text-[#64626A];
        }
      }
    }
  }

  .passenger__selection {
    min-height: 3rem;
    @apply relative;

    h2 {
      @apply text-title mr-4;
    }

    button.change {
      @apply border font-bold rounded-[33px] min-w-[80px] border-primary-main text-primary-main hover:bg-primary-main hover:text-white;
      padding: 0.5rem 1rem;
    }

    .passenger__selector {
      @apply w-full h-full absolute top-[1px] z-10 flex flex-col bg-white rounded-lg overflow-hidden;
      min-height: 150px;
      box-shadow: 0px 3px 6px #0000000f;

      .selector--row {
        @apply flex items-center justify-between  mb-2;

        label {
          @apply text-[12px] leading-[20px] font-display font-[900];
        }

        select {
          @apply bg-transparent  block appearance-none border-none outline-none text-[#656B7C] text-opacity-70 text-sm font-normal focus:ring-0 focus:border-primary-main leading-tight focus:outline-none cursor-pointer pr-8;
        }
      }
    }
  }

  .passenger__selector-animation-enter {
    transform: translateY(100%);
    &.passenger__selector-animation-enter-active {
      transform: translateY(0%);
      transition: transform 500ms ease-in;
    }
  }

  .passenger__selector-animation-leave {
    transform: translateY(0%);

    &.passenger__selector-animation-leave-active {
      transform: translateY(100%);
      transition: transform 300ms ease-in;
    }
  }

  .desktop__filter__container {
    @apply min-h-[160px] bg-white 
          hidden tab:flex flex-col rounded-xl 
           -mt-28 lg:-mt-24 mx-auto
           w-[95%] lg:w-[85%] overflow-hidden;

    a {
      &.whatsapp--btn {
        @apply fixed z-20 bottom-32 right-[2%];
      }

      &.support--btn {
        @apply absolute z-[7]  bottom-24 right-[2%];
      }
    }

    .filter__header {
      @apply grid grid-cols-5 border-b border-primary-main border-opacity-25;

      button {
        @apply text-caption text-white bg-primary-main  hover:bg-primary-light flex items-center justify-center p-6;

        svg {
          @apply fill-white mr-4;
        }

        &.active {
          @apply bg-white text-primary-main;

          svg {
            path {
              @apply fill-primary-main;
            }
          }
        }
      }
    }

    .filter__content {
      @apply px-6 xl:px-12 py-4;

      .filter__container {
        @apply mb-4;
      }

      .filter__type {
        @apply flex items-center
                mb-4 xl:mb-8 rounded-[14px] 
                px-5 xl:px-10 py-4 
                bg-primary-fade border-b;
      }

      .filter__search {
        @apply grid grid-cols-2 px-5 xl:px-10;

        p {
          @apply text-caption text-[#5B6067];

          &.date {
            @apply text-title;
          }
        }

        .ant-select-single:not(.ant-select-customize-input)
          .ant-select-selector {
          padding: 0;
          height: 3rem;
        }

        .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
          @apply text-title;
        }

        select.port-area {
          @apply border-none pl-0 w-48  focus:ring-0 text-xl font-display text-[#656B7C] text-opacity-70 font-normal;

          option {
            @apply text-sm;
          }
        }

        select.passenger-select {
          @apply border-none pl-0 basis-auto flex-shrink-0 flex-grow focus:ring-0 text-sm font-display text-[#656B7C] text-opacity-70 font-normal;

          option {
            @apply text-sm;
          }
        }

        button.change-date {
          @apply border w-12 p-2;
          min-width: 100px;
        }

        .filter__date {
          @apply flex items-center my-2;

          .ant-picker {
            border: none;
            padding: 0;
          }

          .ant-picker-focused {
            border-color: transparent;
            box-shadow: none;
            border-right-width: 1px !important;
            outline: 0;
          }

          .ant-picker-suffix {
            display: none;
          }

          .ant-picker-input > input {
            @apply text-title;
          }

          .ant-picker-clear {
            display: none;
          }

          button {
            min-width: 80px;
            border-width: 1px;
            padding: 0.5rem 1rem;
          }
        }
      }

      .filter__check-in {
        @apply flex justify-between pt-10 pb-20;
      }

      .filter-radio-group {
        @apply flex items-center mr-4;
        label {
          @apply ml-2;
        }
        input[type='radio'] {
          @apply bg-primary-main focus:outline-none cursor-pointer;
        }
      }

      .filter__cta {
        @apply px-10 flex justify-end;
      }
    }
  }

  .mobile__filter__container {
    @apply min-h-[160px] bg-[#F3F6FB]  -mt-24 rounded-[20px] w-[95%] mx-auto p-3 flex flex-col tab:hidden relative;

    a {
      &.whatsapp--btn {
        @apply fixed z-30 bottom-32 right-[3%];
      }
    }

    .mobile__filter__item {
      @apply w-full flex flex-col mb-4;

      button.opener {
        @apply bg-[#E4E9F0] cursor-pointer flex items-center justify-between mb-3  rounded-[23px] py-4 px-8;

        p {
          @apply inline-block text-black text-caption leading-6 font-normal font-display text-left w-[90%] pointer-events-none;
        }

        .opener-icon {
          @apply flex items-center basis-[70%] pointer-events-none;

          svg {
            @apply fill-black mr-4 pointer-events-none;
          }
        }

        svg.opener-indicator {
          @apply fill-black pointer-events-none;
        }

        &.active {
          @apply bg-primary-main;

          p {
            @apply text-white;
          }

          .opener-icon {
            svg {
              @apply fill-white;
            }
          }

          svg.opener-indicator {
            @apply fill-white;
          }
        }
      }

      .mobile__filter__search {
        @apply duration-700 ease-in-out bg-white rounded-xl max-h-0 overflow-auto flex flex-col;

        &.show--panel {
          @apply py-8 px-4 max-h-max;
        }

        .mobile__filter__type {
          @apply flex items-center mb-8  p-4 border-b border-gray-100;
        }

        .mobile__filter-radio-group {
          @apply flex items-center mr-4;
          label {
            @apply text-sm ml-2;
          }
          input[type='radio'] {
            @apply bg-primary-main focus:outline-none cursor-pointer;
          }
        }

        .mobile__search {
          @apply flex items-start border-b border-gray-100 mb-4 pb-4 flex-wrap;

          p {
            @apply text-caption text-[#5B6067] pb-3;
          }

          select.mobile-port-area {
            @apply border-none pl-0  focus:ring-0 text-xl font-display text-[#656B7C] text-opacity-70 font-normal;

            option {
              @apply text-sm;
            }
          }

          .ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            padding: 0;
            height: 3rem;
          }

          .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
            @apply text-[20px] leading-[28px] font-display font-[900];
          }
        }

        .mobile__info {
          @apply flex flex-wrap justify-between mb-4;

          &__item {
            @apply flex flex-col basis-[47%]  mb-8;

            &.full {
              @apply basis-full;
            }

            p {
              @apply text-caption text-[#5B6067] pb-3;
            }

            select.mobile-passenger-select {
              @apply border-none pl-0 basis-auto flex-shrink-0 flex-grow focus:ring-0 text-sm font-display text-[#656B7C] text-opacity-70 font-normal;

              option {
                @apply text-sm;
              }
            }

            .mobile__date {
              @apply mb-3;
              .ant-picker {
                border: none;
                padding: 0;
              }

              .ant-picker-focused {
                border-color: transparent;
                box-shadow: none;
                border-right-width: 1px !important;
                outline: 0;
              }

              .ant-picker-suffix {
                display: none;
              }

              .ant-picker-input > input {
                @apply text-[20px] leading-[28px] font-display font-[900];
              }

              .ant-picker-clear {
                display: none;
              }
            }

            .mobile__select {
              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector {
                padding: 0;
                height: 3rem;
              }

              .ant-select-single.ant-select-show-arrow
                .ant-select-selection-item {
                @apply text-[20px] leading-[28px] font-display font-[900];
              }
            }

            button {
              min-width: 80px;
              padding: 0.5rem 1rem;
              border-width: 1px;
            }
          }
        }

        .mobile__cta {
          button {
            @apply flex items-center justify-center;
          }
        }

        .mobile__check-in {
          @apply flex flex-wrap py-10;

          label,
          input {
            @apply text-sm;
          }
        }
      }
    }
  }

  footer.footer {
    @apply flex flex-col bg-black;

    h3 {
      @apply text-[18px] leading-[26px] font-display text-primary-main mb-4;
    }
    a {
      @apply text-[14px] leading-[26px] font-display text-white;
    }

    .footer--box {
      @apply flex flex-col flex-grow  basis-1/4;

      // &:first-child {
      //   @apply basis-1/3;
      // }

      h3 {
        @apply text-center md:text-left;
      }
    }

    ul.footer--links {
      @apply flex flex-col flex-wrap items-center md:items-start md:h-72;

      li {
        @apply text-center md:text-left mb-2 pr-4;

        a {
          @apply hover:text-primary-main flex items-center;

          svg {
            @apply w-6 h-6 mr-2;
          }
        }
      }
    }

    ul.badges {
      @apply flex items-center justify-between my-6 md:my-0;
      li {
        &:not(:last-child) {
          @apply mr-8;
        }
        figure {
          @apply w-16 md:w-24 h-16 md:h-24;

          img {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  .marquee {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &__svg {
      flex-basis: 40px;
      flex-shrink: 0;
    }

    &__right {
      width: max-content;
      height: 2rem;
      overflow: hidden;
      position: relative;

      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        // background-color: red;
      }
      &::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        // background-color: green;
      }
    }

    &__text {
      @apply text-content font-display text-[#070808];
      // line-height: 250%;
      // animation: preloaderTextAnim 12s linear alternate infinite both;
    }
  }

  .mro {
    &__header {
      @apply flex flex-col;

      button {
        @apply px-14;
      }
    }

    &__hero {
      background-image: linear-gradient(
          to bottom,
          rgb(0, 0, 0, 0.5),
          rgb(0, 0, 0, 0.5)
        ),
        url('./bg/mro.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__about {
      @apply px-8 md:px-70 pb-70 bg-[#F7F8FA];

      p {
        @apply text-caption text-grey-seven mb-4 font-normal;
      }

      ul {
        @apply flex flex-col;

        li {
          @apply flex items-center mb-2;
        }

        &.core--values {
          li {
            @apply flex items-center m-0;

            p {
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .aoe {
        @apply w-full bg-white border border-[#e8e8e8] rounded-md overflow-hidden;

        figure {
          @apply w-full h-[179px] rounded-md overflow-hidden;

          img {
            @apply w-full h-full object-cover object-left-top;
          }
        }

        &__content {
          @apply px-6 py-11;
        }

        .others {
          p {
            @apply mb-0;
          }
        }
      }
    }
    &__features {
      @apply px-8 py-16 md:p-70 bg-white;
      ul {
        @apply flex flex-col mb-4;

        li {
          @apply flex items-center mb-2;
        }
      }
      .mro__line {
        @apply border-b border-[#0000000f] border-opacity-20;
      }
    }
    &__contact {
      p {
        @apply text-[18px] leading-[27px] text-[#1D1D1D] font-display font-normal;
      }

      ul {
        li {
          @apply text-[20px] leading-[47px] text-[#151515] font-display font-normal;
        }
      }
    }
    &__line {
      @apply border-b border-[#0000000f] border-opacity-20;
    }
    &__locations {
      @apply text-white;

      ul {
        li {
          @apply flex flex-col lg:flex-row lg:items-center mb-12;

          svg {
            @apply basis-[15%] flex-shrink-0 mr-4;
          }

          h5 {
            @apply text-[31px] leading-[51px] font-display font-[900] text-white;
          }
          p {
            @apply text-[18px] leading-[28px] font-display text-white text-opacity-70;
          }
        }
      }
    }

    &__testimonials {
      .split-three.mro__testimonials__box {
        @apply gap-8 mb-8 md:mb-4;
        p {
          @apply text-[14px] leading-[27px] font-display  text-[#777777];
        }

        h5 {
          @apply text-[16px] leading-[27px] font-display font-[900] text-black;
        }

        h6 {
          @apply text-[14px] leading-[18px] font-display font-[900] text-black;
        }
      }
    }
  }

  .training__header {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
      ),
      url('./bg/trainning.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Custom Styles
.white-loader {
  .ant-spin-dot-item {
    background-color: white;
  }
}

.orange-loader {
  .ant-spin-dot-item {
    background-color: #ff6600;
  }
}

.react-datepicker__input-container {
  input[type='text'] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(243 244 246);
    padding-left: 0;
    margin-bottom: 10px;
    font-family: Cerebri Sans;

    &:focus {
      outline: none;
      outline-offset: 0;
      box-shadow: none;
    }
  }
}

// Clean up Styles
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


textarea {
  resize: none;
}

@keyframes preloaderTextAnim {
  0% {
    transform: translateY(0%);
  }
  50%,
  100% {
    transform: translateY(-680%);
  }
}

@keyframes dropdownAnim {
  0% {
    bottom: 10000%;
    opacity: 0;
  }
  100% {
    bottom: -186px;
    opacity: 1;
  }
}
