@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('../assets/fonts/Cosmical/fonts.css');
@import 'antd/dist/antd.css';
@import './loader.scss';

// @import './carousel.scss';
// @import './abstract.scss';
// @import './nav.scss';
// @import './form.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Styles
@layer components {
}

// Clean up Styles
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

@keyframes preloaderTextAnim {
  0% {
    transform: translateY(0%);
  }
  50%,
  100% {
    transform: translateY(-680%);
  }
}

@keyframes dropdownAnim {
  0% {
    bottom: 10000%;
    opacity: 0;
  }
  100% {
    bottom: -186px;
    opacity: 1;
  }
}
