@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@import url("../assets/fonts/Cosmical/fonts.css");
@import url("../assets/fonts/plus-jakarta-sans-v3-latin/font.css");
@import "antd/dist/antd.css";
@import "./loader.scss";
@import "./carousel.scss";
@import "./mobile.css";
@import "./ham.css";

// @import './carousel.scss';
// @import './abstract.scss';
// @import './nav.scss';
// @import './form.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Styles
@layer base {
  html {
    font-family: Plus Jakarta Sans, system-ui, sans-serif !important;
  }

  body {
    font-family: Plus Jakarta Sans, system-ui, sans-serif !important;
  }
}
.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 52px;
  height: 100%;
  padding: 0 !important;
  border-radius: 3px 0 0 3px;
  border: 0px solid !important;

  &:focus {
    background-color: #fff;
    border: 0px solid !important;
    outline: none;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  }
}

.react-tel-input .selected-flag:focus:before {
  border-color: #80bdff;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  outline: none;
  border: 0px solid !important;
}

.selected-flag.open:before {
  border-color: #80bdff;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  outline: none;
  border: 0px solid !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  border: 0px solid !important;
  padding: 0.25rem 0 0.125rem 3rem !important;

  &:focus {
    background-color: #fff;
    border: 0px solid !important;
    outline: none;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  }
}

@layer components {
  p {
    @apply font-body leading-6 mb-2.5;
  }
  .fit-x-bleed {
    @apply px-8 sm:px-16 tab:px-24;
  }

  .scrollable {
    @apply scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent;
  }

  .header-text {
    @apply text-primary-main font-body text-header;
  }

  // Button
  .btn {
    @apply font-normal font-body rounded-xl min-w-[133px] py-[15px] px-[20px] transition-all text-center;

    &.btn-primary {
      @apply bg-primary-main text-green hover:bg-opacity-80;

      &.white {
        @apply text-white;
      }
    }

    &.btn-white {
      @apply bg-white  text-primary-main border border-primary-main hover:bg-primary-main hover:text-white;

      &.white {
        @apply border-white;
      }
    }

    &.btn-outline {
      @apply bg-transparent border border-primary-main
       hover:bg-primary-main hover:border-primary-main hover:text-white font-bold;
    }
  }
  // Button

  body {
    overflow: auto !important;
  }

  // Form
  .form {
    @apply flex justify-between flex-wrap;

    .form-row-half {
      @apply flex flex-col basis-full md:basis-[48%];
    }

    .form-row-full {
      @apply flex flex-col basis-[100%];
    }
  }

  .form-group {
    // border: 1px solid #d8d7e2;
    box-shadow: 0 0 5px 0 rgb(195 198 205 / 50%);
    border-radius: 6px;
    padding: 8px 30px;

    label {
      @apply font-body text-[#979797] text-[12px] mb-[0px] font-normal uppercase;
    }

    input {
      @apply bg-transparent border-none outline-none text-black text-base font-normal  w-full focus:ring-0 focus:outline-none  placeholder-black pl-0 pb-0;

      &.white-bg {
        @apply bg-white;
      }

      &.filter-input-form {
        @apply bg-transparent  rounded-none border-transparent border-b-[#e4e9f2] px-0 text-xl;
      }
    }
  }
  // Form

  .ga__footer {
    @apply bg-primary-main  pt-10 pb-10 flex flex-col;

    .line {
      border-bottom: 1px solid rgba(255, 255, 255, 0.13);
      @apply my-10 md:mx-10;
    }

    &__item {
      @apply basis-full md:basis-1/3 mb-16 lg:mb-0;

      h5 {
        @apply text-base mb-4 text-white font-bold text-center md:text-left;
      }

      &__box {
        @apply flex flex-col items-center md:items-start;

        a {
          @apply hover:text-green;
        }
      }
    }
  }

  .contact__cards {
    @apply py-[53px] grid gap-x-[36px] gap-y-[35px] sm:gap-y-[45px]  grid-cols-1 sm:grid-cols-contact__cards;

    .contact__card {
      @apply flex bg-grey-light rounded-xl p-5 sm:p-7;

      figure {
        @apply mr-[25px];
      }
    }
  }

  .offices__container {
    @apply flex flex-wrap tab:flex-nowrap py-[53px];
  }

  .newsletter {
    @apply flex flex-wrap md:flex-nowrap justify-between items-center  bg-grey-light px-8 sm:px-16 tab:px-28 py-8 md:py-8 rounded-xl;

    h2 {
      @apply text-[#26205E] font-body text-xl md:text-2xl mb-6 md:mb-0;
    }
  }

  .vertical--marquee {
    @apply flex flex-col;
    min-height: 63px;

    .text--holder {
      @apply relative h-6 w-[80vw];

      a {
        @apply absolute top-0 left-0 w-full h-auto font-body text-white;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);

        &.activeText {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=1);
        }
      }
    }
  }
}

.faqs__tabs {
  button.btn {
    color: #29255d;
    margin-right: 16px;
    border: 1px solid rgba(158, 155, 191, 0.27);

    @media (max-width: 800px) {
      margin-bottom: 12px;
    }

    &.active {
      color: white;
    }
  }
}

.faq__input {
  border: 1px solid #d8d7e2;
  border-radius: 6px;
  @apply w-full flex justify-between items-center px-6 py-3;

  input {
    @apply basis-[80%] bg-transparent border-[2px] border-none outline-none text-[#4B4F63] text-opacity-60 text-sm font-normal w-full focus:ring-0 focus:outline-none placeholder-[#4B4F63] placeholder-opacity-60;
  }
}

.ga__popup {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 100;
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleIn 0.3s ease-in-out;
    pointer-events: auto;
  }

  &.inactive {
    opacity: 0;
    pointer-events: none;
    animation: scaleOut 0.3s ease-in-out;
  }

  &__container {
    display: flex;
    position: relative;
    background-color: transparent;
    width: 825px;
    @apply overflow-auto md:overflow-hidden;

    @media (max-width: 900px) {
      width: 90%;
    }

    span.close {
      border: none;
      outline: none;
      position: absolute;
      top: 20px;
      right: 0;
    }

    .ga__popup__main {
      background-color: transparent;
      margin: 1.5rem 0;
      margin-top: 3rem;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      //       @include respond(phone) {
      //         margin-top: 5rem;
      //       }

      //       &.active {
      //         animation: slideIn 0.3s ease-in-out;
      //         animation-delay: 0.3s;
      //       }

      //       &.inactive {
      //         display: none;
      //       }
    }
  }
}

.modal--close--icon {
  cursor: pointer;
}

.ga__desktop__filter {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  &__header {
    border-bottom: 1px solid rgba(192, 207, 214, 0.23);

    .btn-text {
      color: rgba(17, 16, 32, 0.5);
      @apply hover:font-bold hover:text-white hover:bg-primary-main;

      a {
        @apply hover:font-bold hover:text-white;
      }
    }
  }

  &__content {
  }
}

// Clean up Styles
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

@keyframes preloaderTextAnim {
  0% {
    transform: translateY(0%);
  }
  50%,
  100% {
    transform: translateY(-680%);
  }
}

@keyframes dropdownAnim {
  0% {
    bottom: 10000%;
    opacity: 0;
  }
  100% {
    bottom: -186px;
    opacity: 1;
  }
}

.support-docs {
  @apply font-body;

  h1 {
    @apply text-primary-main text-2xl font-bold mb-16 leading-7;
  }
  h5 {
    @apply font-title mb-1 leading-7;
  }
  p {
    @apply text-base leading-7 mb-8;

    strong {
      @apply text-base font-title leading-7;
    }
  }
}

.datepicker {
  @apply font-body;
  font-size: 14px;
}

.react-date-picker__calendar-button,
.react-date-picker__clear-button {
  // @apply hidden;
}

.react-date-picker__inputGroup__input {
  min-width: 1.24em !important;
  text-align: center;
  pointer-events: none;
  font-size: 16px !important;
}

.react-date-picker__wrapper {
  border: none !important;
}

.css-4o4p50-Input input:focus {
  outline: 0px !important;
  border: 0px !important;
  box-shadow: none;
}

.react-date-picker__inputGroup {
  padding: 0px !important;
  font-family: "Plus Jakarta Sans";
}

.react-date-picker__button {
  padding: 0px 6px !important;
}

.booking__wrapper {
  border: 1px solid #d8d7e2;
  border-radius: 14px;
  padding: 16x 24px;
  // box-shadow: 0 0 5px 0 rgb(195 198 205 / 50%);
  @apply rounded-lg px-2 py-2 relative;
}

.react-calendar {
  @apply font-body;
  border: 1px solid #eaebf3 !important;
  border-radius: 6px !important;
  background: #ffffff !important;
  padding: 2px !important;
}

.react-calendar__tile {
  background: rgba(31, 25, 85, 0.03) !important;
  border: 2px solid #fff !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  padding-bottom: 0px !important;
  font-family: "Plus Jakarta Sans";
}

.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
}

.react-calendar__tile--active {
  background: #1f1955 !important;
  color: #47ff5a !important;
}

.react-calendar__tile--now {
  border: 2px dashed #1f195591 !important;
  color: #47ff5a !important;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

.react-calendar__tile:disabled {
  opacity: 0.5 !important;
}

.widget-border {
  border: 1px solid #eaebf3;
  border-radius: 6px;
}

.react-date-picker {
  width: 100%;
}

.schedule {
  background: #fafaff;
  border-radius: 12px;
}

.schedule__grid {
  border: 0.2px solid #9e9bbf;
  border-top: 0px;
  border-radius: 0px 0px 12px 12px;
}

.schedule__strip {
  background: #26205e;
  border: 0.2px solid #26205e;
  border-radius: 12px 12px 0px 0px;
}

.select__wrapper {
  border: 1px solid #d8d7e2;
  @apply rounded-lg py-1;
  p {
    color: #979797;
    color: #5c5c5c;
  }

  label {
    color: #5c5c5c;
  }
}

.blog__post {
  color: #232e52;
  h1 {
    color: #232e52;
  }
}

.blog__post:hover {
  color: #232e52;
  p,
  h1 {
    text-decoration: underline;
  }
}

.blog__search {
  input {
    border-bottom: 1px solid #596281;
  }
  input::placeholder {
    color: #b5b2d8;
  }
}

/* the slides */
.slick-slide {
  padding: 0 8px;
  box-sizing: border-box;
}

// dropdown
.dropdown-toggle {
  white-space: nowrap;
  &:after {
    content: "";
    display: inline-block;
    width: 25%;
    height: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3Csvg stroke='white' fill='none' stroke-width='0' viewBox='0 0 24 24' class='ml-2 h-4 w-4' height='2rem' width='3rem' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E")
      no-repeat right 0.75rem center/10px 15px;
    border: 0px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
  }
}

.dropdown-large {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  background: #fff;
  z-index: 3;
  left: 0;
  right: 0;
  top: 80px;
  width: 100%;
}

.dropdown-large h2 {
  font-weight: bold;
  font-size: 16px;
}

.dropdown-large h3 {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 14px;
}

.dropdown-large p {
  color: #5a7184;
  font-size: 14px;
}

.dropdown-large ul li a {
  color: #2c2c2c;
  font-size: 14px;
}

.dropdown-large ul li a:hover {
  color: #183b56;
  text-decoration: underline;
}

@media all and (min-width: 992px) {
  nav .nav-item .dropdown-menu {
    display: none;
  }

  nav .nav-item:hover .dropdown-menu {
    display: block;
  }

  nav .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

div[disabled] {
  pointer-events: none;
  opacity: 0.4;
}

::selection {
  color: #2e2260;
  background-color: #1eff5a;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  border-color: none;
}

#nprogress .bar {
  background: #1eff5a !important;
}

.privacy_page {
  div:nth-child(2) {
    & > div {
      div:nth-child(1) {
        display: none !important;
      }
      div:nth-child(2) {
        width: 100% !important;
        max-width: none !important;
      }
    }
  }
}

.story__post {
  font-family: Plus Jakarta Sans;

  & h1 {
    font-family: Plus Jakarta Sans !important;
  }

  & div {
    font-family: Plus Jakarta Sans !important;
  }

  & .container-wrap {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  & > div {
    background: #fff !important;
  }
}

.travel_docs {
  p {
    font-size: 16px !important;
    font-family: Plus Jakarta Sans, system-ui, sans-serif !important;
    line-height: 1.5rem !important;
  }
  ul {
    margin-left: 20px !important;
    font-family: Plus Jakarta Sans, system-ui, sans-serif !important;
    li {
      margin: 15px 0 !important;
      font-size: 16px !important;
      list-style: circle;
      font-family: Plus Jakarta Sans, system-ui, sans-serif !important;
    }
  }
}

.departure-mobile {
  .react-calendar {
    background: #261f5e !important;
    @apply font-body;
    border: 1px solid #261f5e !important;
    border-radius: 0px !important;
    padding: 2px !important;
  }

  .react-calendar__tile {
    background: #1f1955 !important;
    border: 4px solid #261f5e !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    padding-bottom: 0px !important;
    font-family: "Plus Jakarta Sans";

    & abbr {
      color: #fff !important;
    }
  }

  .react-calendar__navigation button:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }

  .react-calendar__navigation button {
    fill: #fff !important;
    color: #fff !important;

    &:hover {
      background: none;
      background-color: transparent !important;
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    color: #fff !important;

    & abbr {
      text-decoration: none;
    }
  }

  .react-calendar__month-view__days__day--weekend {
    color: #fff !important;
  }

  .react-calendar__tile--active {
    background: rgba(71, 255, 90, 0.07) !important;
    // color: #26205e !important;
  }

  .react-calendar__tile--rangeStart,
  .react-calendar__tile--rangeEnd {
    background: #47ff5a !important;
    color: #26205e !important;

    & p {
      color: #26205e !important;
    }
    & abbr {
      color: #26205e !important;
    }
  }

  .react-calendar__tile--now {
    border: 2px dashed #f19559 !important;
    color: #47ff5a !important;
  }

  .react-calendar__navigation__label__labelText {
    text-transform: uppercase !important;
    font-weight: 700 !important;
  }

  .react-calendar__tile:disabled {
    opacity: 0.5 !important;
  }

  .widget-border {
    border: 1px solid #eaebf3;
    border-radius: 6px;
  }

  .react-date-picker {
    width: 100%;
  }
}
