.main {
  position: relative;
}

.ga__container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #261f5e;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.9s ease-in-out;

  &.preload__finish {
    pointer-events: none;
    opacity: 0;
  }
}

.ga__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 368px;

  &__track {
    position: relative;
    width: 100%;
    figure {
      position: absolute;
      top: -1.2rem;
      width: 100%;
      animation: flight 1s infinite forwards;
    }
  }

  &__bar {
    width: 368px;
    height: 4px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 12px;

    &.bar__progress {
      height: 100%;
      width: 0;
      background-color: yellowgreen;
    }
  }
}

@keyframes flight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
