/* sticky footer mobile */

.mobileNav {
    transform: translate3d(0, calc(env(safe-area-inset-bottom)*-1), 0);
}

.mobileNav {
    margin-top: 21px;
    /* height: 48px; */
    border-top: 1px solid #261F5E;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #261F5E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    transition: transform .08s linear .12s
}

@supports(transform:translate3d(0, calc(env(safe-area-inset-bottom) * -1), 0)) {
    .mobileNav {
        transform: translate3d(0, calc(env(safe-area-inset-bottom)*-1), 0)
    }
}

.mobileNav:after {
    content: "";
    display: block;
    background: #fff;
    background: #261F5E;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    z-index: 0
}

@media(min-width:769px) {
    .mobileNav {
        display: none
    }
}

.mobileNav--with-open-in-app-banner {
    transform: translate3d(0, -44px, 0)
}

@supports(transform:translate3d(0, calc(-44px + env(safe-area-inset-bottom) * -1), 0)) {
    .mobileNav--with-open-in-app-banner {
        transform: translate3d(0, calc(-44px + env(safe-area-inset-bottom)*-1), 0)
    }
}

.mobileNavItem {
    display: flex;
    justify-content: center
}

.mobileNavItem {
    display: flex;
    justify-content: center
}

.mobileNav__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 0 1 414px;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 14px;
}

.mobileNavItem {
    align-items: center;
    flex: 0 1 82px;
    background: #261F5E;
}


.mobileNavItem>a {
    align-items: center;
    flex: 0 1 82px;
    /* background: #fff; */
    filter: grayscale(100%);
}


/* .mobileNavItem.mobileNavItem--active .mobileNavItem__link {
    color: rgba(20, 35, 59, .45)
} */

.mobileNavItem .mobileNavItem--active.mobileNavItem__link {
    color: #47FF5A !important;
    filter: grayscale(0%) !important;
}

.mobileNavItem .mobileNavItem--active.mobileNavItem__link .mobileNavItem__label {
    color: #47FF5A !important;
    filter: grayscale(0%) !important;
}

.mobileNavItem.mobileNavItem--call-to-action .mobileNavItem__link {
    box-sizing: border-box
}

.mobileNavItem.mobileNavItem--call-to-action .mobileNavItem__link:before {
    content: "";
    width: 48px;
    height: 24px;
    min-height: 24px;
    border-radius: 24px 24px 0 0;
    border: 1px solid #e2e6e8;
    border-bottom: 0;
    background: #fff;
    box-sizing: content-box;
    position: relative;
    top: -23px;
    left: 0
}

.mobileNavItem.mobileNavItem--call-to-action .mobileNavItem__link:after {
    content: "";
    background: #fff;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    position: absolute
}

.mobileNavItem.mobileNavItem--call-to-action .mobileNavItem__icon {
    color: #fff;
    padding: 10px;
    z-index: 2;
    margin: -45px 0 0
}

.mobileNavItem.mobileNavItem--call-to-action .mobileNavItem__icon:before {
    content: "";
    background: #fff;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: calc(50% - 20px);
    z-index: 1;
    border: 1px solid #97D700;
}

.mobileNavItem.mobileNavItem--call-to-action:hover .mobileNavItem__icon:before {
    background: #fff
}

.mobileNavItem__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.mobileNavItem__icon .tw-icon {
    z-index: 2;
    position: relative
}

.mobileNavItem__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    padding-top: 5px;
    text-decoration: none;
    color: rgba(20, 35, 59, .45)
}

.mobileNavItem__link:active,
.mobileNavItem__link:hover {
    color: #00b9ff;
    text-decoration: none
}

.mobileNavItem__label {
    flex: 0 0 auto;
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .24px;
    padding-top: 2px;
    color: #fff;
}